@import '../node_modules/swiper/swiper-bundle.min.css';

:root {
  --mobimedia-slide-height: 1000px;
  --mobimedia-slide-height-mobile: calc(var(--mobimedia-slide-height));
  /* --image-aspect-ratio: calc(9 / 16); */
  --image-aspect-ratio: calc(1080 / 1920);
}
